body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    min-width: 800px;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 1em;
    margin-bottom: 20px;
}

canvas {
    width: 100% !important;
    height: 400% !important;
}
